@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

body {
    font-family: 'Roboto', Impact, sans-serif;
    font-size: 16px; /* default font size */
    line-height: 1.6; /* default line height */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, footer {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 1rem;
    letter-spacing: .4rem;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 0 10px;
}

.project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    background: #a8a8a8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-width: 2px;
}

nav a:hover {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        text-align: center;
    }
}

