@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

/* DARK THEME --------------*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text color for contrast */
}

/* Make ALL <a> have no decoration */
a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

header{
    /* Grey border to bottom */
    border-bottom: 1px solid #444;
}

header, nav, footer {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}

h2, h3, h4, h5, h6 {
    text-align: center;
}

h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, h6::first-letter {
    text-transform: uppercase;
    font-weight: bold;
    color: #e6201c;
    font-size: 1.5em;
}

h2 a{
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}

#github-title-link{
    background-color: transparent;
}

h2 a:hover {
    color: #e6201c; /* Red color on hover */
    transition: color 0.3s ease-in-out;
    background-color: transparent;
}

.header-container {
    text-align: center;
    padding: 40px 0;
    background: #1A1A1A; /* Slightly lighter than body for contrast */
}

header h1 {
    margin: 0;
    padding: 0;
    letter-spacing: 0.75rem;
    font-size: 5rem;
    color: #e6201c;
}

header h2, header h2::first-letter {
    text-decoration: none;
    letter-spacing: 0.3rem;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: #da7676;
}

nav {
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky; /* Make the nav sticky */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it's above other content */
    display: flex;
    justify-content: center;
    font-weight: 500;
    
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-visible {
    max-height: 300px; /* Adjust as needed to fit content */
    height: auto;
}


nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #C91B18;
    transition: color 0.3s ease-in-out;
}

section {
    padding: 1.5rem;
    margin: 0 auto;
    max-width: 100%;
}

#projects-section {
    display: grid;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr); /* Default to 3 columns */
}


#projects-section article a{
    text-decoration: none;
}

.project {
    background-color: #1a1a1aa1;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 2px solid #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Aligns text to the start */
}

.project a, .project a:visited, .project a:hover, .project a:focus {
    text-decoration: none; /* Removes underline from links */
    color: #fff; /* White text color for better contrast on dark background */
}

.project h3 {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.project h3, .project p {
    text-align: left;
    margin-left: 10px;
    color: #fff;
}
#projects-section a:hover {
    background-color: #000000; /* Slightly lighter on hover for contrast */
    cursor: pointer; /* Changes the cursor to indicate the item is clickable */
}

#projects-section article:hover a,
#projects-section article:hover h3,
#projects-section article:hover p {
    color: #e0e0e0; /* Lighter text color on hover for contrast */
}

footer {
    padding: 20px 0;
    background: #333;
    color: #fff;
    border-top: 1px solid #444; /* Add grey border to the top */
}

footer p {
    margin: 0;
    text-align: center;
}

#contact-info a {
    display: inline-block;
    margin: 0 10px;
    color: #fff; /* or any color that fits your design */
    font-size: 24px; /* adjust as needed */
}

#contact-info a:hover {
    color: #e6201c; /* highlight color on hover */
}

#contact {
    text-align: center;
    padding: 20px;
}

#contact h2 {
    margin-bottom: 20px;
}

.contact-icon {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    text-decoration: none;
    color: #e0e0e0;
    margin: 0 10px;
    font-size: 20px; /* Adjusts the icon size */
    cursor: pointer;
    padding:0;
    max-width: fit-content;
}

.contact-icon span {
    margin-left: 8px; /* Space between icon and text */
    display: flex;
    align-items: center; /* Ensures text is aligned with icon */
    font-size: 16px; /* You can adjust the font size as needed */
}

.contact-button-container {
    text-align: center; /* Center align the button */
    margin-top: 40px; /* Spacing above the button */
}

.contact-button {
    text-decoration: none;
    background-color: #b9181698; /* Button color */
    color: white; /* Text color */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    border-color: #e6201c;
    border-width: 1px;
    border-style: solid;
}

.contact-button:hover {
    background-color: #c91b18; /* Darker shade for hover effect */
}

#contact-info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#about-me {
    background-color: #1a1a1a; /* Dark background for contrast */
    color: #e0e0e0; /* Light text color */
    padding: 40px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#about-me h2 {
    color: #e6201c; /* Highlight color for titles */
    margin-bottom: 20px;
}

#about-me p {
    font-size: 1.1rem; /* Slightly larger font for readability */
    line-height: 1.6;
    margin-bottom: 15px;
}

#about-me .container {
    max-width: 800px; /* Max width for content */
    margin: auto;
    padding: 20px;
}

#about-me .contact-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-link {
    text-decoration: none;
    background-color: #e6201c; /* Button background */
    color: white; /* Button text color */
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-link:hover {
    background-color: #c91b18; /* Darker shade on hover */
}


#nav-toggle {
    display: none; /* Hidden by default */
    font-size: 28px; /* Icon size */
    background: none;
    border: none;
    color: #fff; /* Icon color */
    cursor: pointer;
    padding: 10px; /* Padding for easier touch */
    position: absolute; /* Position it absolutely */
    top: 100%; /* Position right below the header */
    right: 20px; /* Position from the right */
}

#nav-toggle:hover {
    color: #e6201c; /* Color on hover */
    transition: color 0.3s ease-in-out;
}

#github-projects-title{
    grid-column: 1 / -1;
    text-align: center;
}

button#theme-toggle  {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

/*Tooltip CSS*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5p;
    position: absolute;
    z-index: 1;
    left: 100%;
    margin-left: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.8rem;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%; /* Position it to the left of the tooltip box */
    margin-top: -5px; /* Adjust this value to align the arrow vertically */
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent; /* Default arrow color, can be overridden */
    transform: translateY(-50%);
}



@media (max-width: 1200px) {
    #projects-section {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    nav ul li {
        margin-right: 1rem;
    }
    .project {
        flex-basis: 100%; /* On smaller screens, projects take full width */
    }
    #projects-section {
        grid-template-columns: 1fr; /* On smaller screens, projects are stacked */
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }
    #nav-toggle {
        display: block; /* Show the hamburger icon */
    }
    nav {
        position: sticky;
        top: 0;
        width: 100%; /* Full width */
        background-color: #333; /* Background of the nav */
        height: 0; /* Initially hidden */
    }
    nav ul {
        
        flex-direction: column; /* Stack menu items */
        align-items: center; /* Center align items */
        padding-top: 10px; /* Padding below the toggle button */
        overflow: hidden; /* Hide the overflow */
        max-height: 0; /* Initially collapsed */
        transition: max-height 0.5s ease-out; /* Smooth transition for max-height */
    }
    nav ul li {
        margin: 10px 0; /* Spacing between menu items */
    }
    .project {
        padding: 1rem;
    }
}

