@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

body {
    font-family: 'Roboto', Impact, sans-serif;
    font-size: 0.5rem; /* default font size */
    line-height: 1.6; /* default line height */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, footer {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 1rem;
    letter-spacing: .1rem;
    color:#355A3A;
}

h2, h3, h4, h5, h6{
    text-align: center;
}

h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, h6::first-letter{
    text-transform: uppercase;
    font-weight: bold;
    color: #80110F;
}

header {
    background: #233329;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    letter-spacing: .8rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #63D471;
}

section {
    padding: 1.5rem;
    margin: 1rem auto; /* Adjust margin for centering */
    display: block; /* Ensure section is block-level */
    max-width: 80%; /* Limit the max width */
}

/* Display project headers  */

#projects {
    background-color: #355A3A;
    text-align: center; /* Center aligns content within projects section */
    padding: 1rem 0;
    margin: 0 auto; /* Centers the section */
    max-width: 100%; /* Limits the maximum width and helps in centering */
}

.project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 0.2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-width: 0.1rem;
    border-color: #233329;
    background: #cdcdcd8c;
    margin-bottom: 1rem; /* Adds space between project cards */
    padding: 1rem; /* Add padding to project cards */
}

.project h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #233329;
    text-align: center; /* Center-align project titles */
}

/* Adjusting headers inside the #projects section */
#projects h2, #projects h3, #projects h4 {
    /* Override styles specific to headers in projects section */
    font-family: 'Bebas Neue', sans-serif;
    color: #fff; /* Adjust as needed */
    /* Add other styles as necessary */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    font-size: 0.25rem;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        text-align: center;
    }

    .project {
        grid-template-columns: 1fr; /* Single column layout for small screens */
    }
    #projects {
        max-width: 100%; /* Allows full width on smaller screens */
    }
    
}

